Repository IlyaKo/pet-holidays, pull requests merged in 2024-10, with the labels that each got.

#15 #9 added CRUD operations for hotel entity
  src/backend/LosTomates.PetHolidays.Application/Hotels/HotelEditDto.cs
  src/backend/LosTomates.PetHolidays.Application/Hotels/HotelService.cs
  src/backend/LosTomates.PetHolidays.Application/Hotels/HotelView.cs
  src/backend/LosTomates.PetHolidays.Application/Hotels/IHotelService.cs
  src/backend/LosTomates.PetHolidays.Core/Domain/Hotels/Hotel.cs
  src/backend/LosTomates.PetHolidays.DataAccess/ApplicationDbContext.cs
  src/backend/LosTomates.PetHolidays.DataAccess/DataSeed/FakeData.cs
  src/backend/LosTomates.PetHolidays.DataAccess/DataSeed/SeedService.cs
  src/backend/LosTomates.PetHolidays.DataAccess/DatabaseConstrains.cs
  src/backend/LosTomates.PetHolidays.DataAccess/FakeData.cs
  src/backend/LosTomates.PetHolidays.DataAccess/LosTomates.PetHolidays.DataAccess.csproj
  src/backend/LosTomates.PetHolidays.DataAccess/Migrations/20241001203527_Init.Designer.cs
  src/backend/LosTomates.PetHolidays.DataAccess/Migrations/20241001203527_Init.cs
  src/backend/LosTomates.PetHolidays.DataAccess/Migrations/ApplicationDbContextModelSnapshot.cs
  src/backend/LosTomates.PetHolidays.WebApi/Endpoints/HotelEndpoints.cs
  src/backend/LosTomates.PetHolidays.WebApi/Extensions/ServiceCollectionExtensions.cs
  src/backend/LosTomates.PetHolidays.WebApi/LosTomates.PetHolidays.WebApi.csproj
  src/backend/LosTomates.PetHolidays.WebApi/Program.cs
  src/backend/LosTomates.PetHolidays.WebApi/appsettings.json
Labels: backend

#22 Подгрузить актуальный CI в develop
  .github/workflows/main.yml
Labels: DevOps

#26 Tasks/8 user flow
  docs/UserFlow.md
Labels: documentation, frontend

#20 Tasks/5 add frontend project
  src/backend/LosTomates.PetHolidays.WebApi/Program.cs
  src/frontend/.gitignore
  src/frontend/README.md
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/public/favicon.ico
  src/frontend/public/index.html
  src/frontend/public/manifest.json
  src/frontend/public/robots.txt
  src/frontend/src/components/app/App.css
  src/frontend/src/components/app/App.js
  src/frontend/src/components/hotel-list/HotelList.css
  src/frontend/src/components/hotel-list/HotelList.js
  src/frontend/src/index.css
  src/frontend/src/index.js
Labels: frontend
